@font-face {
  font-family: 'Black Mango';
  src: url('fonts/black-mango-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  background: #D5F2D0;
  margin: 0;
  padding: 0;
  color: black;
}

header {
  background: #1A261A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  gap: 8px;
  font-family: 'Black Mango', sans-serif;
}

header img {
  display: flex;
  align-items: center;
  width: 30px;
  height: auto;
  transform: rotate(-20deg);
}

main {
  width: 90%;
  margin: 20px auto;
}

.resumo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card {
  background: #2D402C;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

.card h2 {
  margin: 10px 0 0;
  color: white;
}

.card p {
    color: white;
}

.busca {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
}

.busca input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

.tabela table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.tabela th, .tabela td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.tabela th {
  background: #dcefe0;
}

.grafico {
  margin-top: 30px;
}

.grafico h2 {
  margin-bottom: 20px;
  text-align: center;
}
